body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cinzel', 'IBM-PLEX-SANS', 'Oswald';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cinzel', 'IBM-PLEX-SANS', 'Oswald',
    monospace;
}
